@tailwind base;
@tailwind components;
@tailwind utilities;


.img-header{
    background-image: url(../public/img/vista_interior1.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: top;
    
}